.play-button,
.stop-button,
.backward-button,
.forward-button {
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 40px;
  overflow: hidden;
  padding-right: 70px;
  background-color: rgba(128, 128, 128, 0);
}

.play-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.stop-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.forward-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.backward-image {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.song-card {
  padding: 20px;
  box-shadow: 0 0 6px rgb(100, 100, 100);
  border-radius: 10px;
  border: none;
  direction: flex;
  justify-content: middle;
}

.title {
  margin-bottom: 20px;
  padding-left: 6px;
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 24px;
}